<%- include('partials/header') %>
    <div class="container">
        <p>Un site de vente en ligne parmis des millions d'autres sans plus value (best marketing ever !)</p>
    </div>
<%- include('partials/footer') %>